@import './shared/css/dialog-global.css';
@import './shared/css/dialog-open.css';
@import './shared/css/dialog-close-btn.css';
@import './shared/css/dialog-keyframes.css';

.cb-dialog {
    /*scrollbar-gutter: stable;*/

    &::backdrop {
        background-color: rgba(0,0,0,.85);
    }
}

.cb-dialog__gallery {
    height: 100%;

    .cb-dialog__close {
        position: fixed;
        right: 0;
        left: 0;
        width: auto;
        height: 10px;
        pointer-events: initial;
    }

    .cb-dialog__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    :deep(.vgo-gallery) {
        width: 100%;
        height: 100%;

        img {
            object-fit: contain;
            max-width: 1000px;
            pointer-events: initial;
            margin: 0 auto;
            padding: 55px 0 55px 0;
        }

        .vgo-gallery__cell {
            opacity: 0;
            animation: fade-in .2s .2s forwards;
        }

        .vgo-gallery__cell-blur {
            background-size: 70% 90%;
            filter: blur(100px);
            margin: 0 auto;
            opacity: .4;
        }

        .vgo-gallery__previous,
        .vgo-gallery__next {
            pointer-events: initial;
            background-color: rgba(0,0,0,.6);
            color: #fff;
            width: 34px;
            height: 34px;
            margin-top: -17px;
        }

        .vgo-gallery__previous:hover,
        .vgo-gallery__next:hover {
            background-color: rgba(0,0,0,.8);
            box-shadow: 0 0 0 1px rgba(0,0,0,.8);
        }

        .vgo-gallery__previous {
            left: 10px;
        }

        .vgo-gallery__next {
            right: 10px;
        }

        .vgo-gallery__index {
            position: absolute;
            top: 10px;
            text-align: center;
            width: 100%;
            color: #fff;
            font-size: var(--vg-body-small-font-size);
            line-height: var(--vg-body-small-line-height);
        }

        .vgo-gallery__pager {
            display: none;
        }

        @media (min-width: 1100px) {
            .vgo-gallery__previous:not(.hidden),
            .vgo-gallery__next:not(.hidden) {
                opacity: 1;
            }
        }

        /* Meta */
        img:has(~ .vgo-gallery__meta) {
            padding-bottom: 75px;
        }

        .vgo-gallery__meta {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            color: #fff;
            font-size: var(--vg-body-small-font-size);
            line-height: var(--vg-body-small-line-height);
            padding: 15px;
            pointer-events: none;
        }

        .vgo-gallery__meta-name-copy {
            display: flex;
            justify-content: center;
            column-gap: 7px;
        }

        .vgo-gallery__meta-desc {
            -webkit-line-clamp: 2;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            opacity: var(--vg-text-muted-opacity);
        }
    }
}

/*.vgo-gallery__meta {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: var(--vg-body-small-font-size);
    line-height: var(--vg-body-small-line-height);
    padding: 15px;
    pointer-events: none;

    p {
        display: flex;
        justify-content: center;
        column-gap: 7px;
    }

    .vgo-gallery__meta-desc {
        -webkit-line-clamp: 2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        opacity: var(--vg-text-muted-opacity);
    }
}*/

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}